:root {
    font-family: system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 235, 238);
    margin: 0;
}

header {
    width: 850px;
    margin: 0 auto;
}

.banner {
    background-color: #4267b2;
    height: 250px;
}

.pageName {
    position: fixed;
    top: 190px;
    left: 320px;
    color: white;
    max-width: 300px;
    margin-right: 0px;
}

.pageName h1 {
    font-size: 20px;
    margin: 0;
}

.pageName h2 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: normal;
}

.actions {
    position: fixed;
    left: 750px;
    top: 210px;
    width: 250px;
}

button {
    font-size: 12px;
    font-weight: bold;
    border: solid 1px darkgray;
}

.timeline {
    background: white;
    height: 50px;
}

.profileImage {
    background-color: #4267b2;
    border: solid 1px black;
    height: 150px;
    width: 150px;
    position: fixed;
    left: 150px;
    top: 110px;
}

.timelineButtons {
    position: fixed;
    top: 250px;
    left: 310px;
}

.timelineButtons button {
    padding: 10px 20px 10px 20px;
    font-size: 16px;
    font-weight: normal;
    float: left;
    border-top: none;
    border-bottom: none;
    border-left: none;
    height: 50px;
}

main {
    width: 850px;
    margin: 0 auto;
    margin-top: 20px;
}

.leftContentColumn {
    width: 328px;
    margin-right: 10px;
    float: left;
}

.aboutPage {
    background-color: white;
    padding-top: 20px;
}

.aboutContent {
    border: solid 1px  rgb(233, 235, 238);;
    border-left: none;
    border-right: none;
    padding: 10px;
}

.aboutContent p {
    margin: 5px;
}

.aboutPage h2 { margin: 0; font-size: 16px;}

.aboutPage .aboutLink{padding: 10px;}

.rightContentColumn {
    width: 512px;
    float: left;
}

.wallPost {
    background-color: white;
}