:root {
    font-family: system-ui, -apple-system, system-ui, ".SFNSText-Regular", sans-serif;
}

body {
    background-color: rgb(233, 235, 238);
}

header {
    width: 850px;
    margin: 0 auto;
}

.banner {
    background-color: #4267b2;
    height: 250px;
}

.pageName {
    position: relative;
    top: 190px;
    left: 190px;
    color: white;

}

.pageName h1 {
    font-size: 20px;
    margin: 0;
}

.pageName h2 {
    font-size: 16px;
    margin-top: 10px;
    font-weight: normal;
}

.actions {
    position: relative;
    left: 600px;
    top: 145px;
}

button {
    font-size: 12px;
    font-weight: bold;
}

.timeline {
    background: white;
    height: 50px;
}

.profileImage {
    background-color: #4267b2;
    border: solid 1px black;
    height: 150px;
    width: 150px;
    position: relative;
    left: 15px;
    bottom: 115px;
}

.timelineButtons {
    
}